<!DOCTYPE html>
<html>
  <head>
    <title>Instaphoto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      
      <%# Наше костыльное меню %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Main Page", root_path, class: "nav-link active"  %>
        </li>
        <li class="nav-item">
          <%= link_to "About", pages_about_path, class: "nav-link" %>
        </li>
      </ul>
      
      <%# Подгрузка страницы %>
      <%= yield %>

    </div>
  </body>
</html>
